attr==0.3.2
ConfigParser==7.1.0
contextlib2==21.6.0
cryptography==43.0.1
Cython==3.0.11
dl==0.1.0
docutils==0.21.2
fastapi==0.114.1
fastapi_cache==0.1.0
filelock==3.16.0
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.5
Jinja2==3.1.4
jnius==1.1.0
keyring==24.3.1
lockfile==0.12.2
mock==5.1.0
multiavatar==1.0.3
Pillow==10.4.0
protobuf==5.28.1
pydantic==2.9.1
pymongo==4.8.0
pyOpenSSL==24.2.1
python-dotenv==1.0.1
railroad==0.5.0
redis==5.0.8
Sphinx==8.0.2
thread==2.0.5
tornado==6.4.1
trove_classifiers==2024.7.2
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
viz-python-lib==1.0.2

